@page "/admin/manage"
@using FootballSimulator.Core.Interfaces
@using Microsoft.AspNetCore.Components.Forms
@rendermode InteractiveServer

<PageTitle>Manage Users</PageTitle>

<h3>Manage Users</h3>
@if (userModel is null)
{
    <p><em>Loading users...</em></p>
}
else
{
    @if (!showForm)
    {
        <button class="btn btn-primary me-1" @onclick="ShowAddForm">+ Add New</button>
        <ul>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>Name</strong>
                    <span class="text-muted">- UserName (Email)</span>
                </div>
                <div class="btn-group align-content-center">
                    Manage
                </div>
            </li>
            <li class="list-group-item">
                <hr />
            </li>
            @foreach (var user in userModel.Results)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>@user.FirstName @user.LastName</strong>
                        <span class="text-muted">- @user.UserName (@user.Email)</span>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-secondary me-1" @onclick="() => ShowEditForm(user.Guid)">
                            Edit
                        </button>
                        <button class="btn btn-sm btn-danger me-1" @onclick="() => DeleteUser(user.Guid)">
                            Delete
                        </button>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <button class="btn btn-secondary" @onclick="CancelForm">Cancel</button>

        <EditForm Model="@editUser" OnValidSubmit="SaveUser" OnInvalidSubmit="HandleInvalidUser">
            <DataAnnotationsValidator />
            <ValidationSummary />
                    
            <div class="mb-3">
                <label>User Name</label>
                @if (editUser.IsNew)
                {
                    <InputText @bind-Value="editUser.UserName" class="form-control" />
                    <ValidationMessage For="@(() => editUser.UserName)" />
                }
                else
                {
                    <input value="@editUser.UserName" class="form-control input-disabled" readonly />
                }
            </div>

            <div class="mb-3">
                <label>Application User ID</label>
                @if (editUser.IsNew)
                {
                    <InputText @bind-Value="editUser.ApplicationUserId" class="form-control" />
                    <ValidationMessage For="@(() => editUser.ApplicationUserId)" />
                }
                else
                {
                    <input value="@editUser.ApplicationUserId" class="form-control input-disabled" readonly />
                }
            </div>

            <div class="mb-3">
                <label>First Name</label>
                <InputText @bind-Value="editUser.FirstName" class="form-control" />
                <ValidationMessage For="@(() => editUser.FirstName)" />
            </div>

            <div class="mb-3">
                <label>Last Name</label>
                <InputText @bind-Value="editUser.LastName" class="form-control" />
                <ValidationMessage For="@(() => editUser.LastName)" />
            </div>

            <div class="mb-3">
                <label>Email</label>
                <InputText @bind-Value="editUser.Email" class="form-control" />
                <ValidationMessage For="@(() => editUser.Email)" />
            </div>

            <button type="submit" class="btn btn-success">@formModeLabel</button>
        </EditForm>
    }
}

@code {
    [Inject] private IUserManageModelService _userManageService { get; set; } = default!;
    [Inject] private IUserEditService _userEditService { get; set; } = default!;
    private bool showForm = false;
    private UserManageModel? userModel;
    private UserEditModel editUser = new UserEditModel();
    private string formModeLabel => $"{editUser.CreateOrEdit} User"; 

    protected override async Task OnInitializedAsync()
    {
        userModel = await _userManageService.BuildModelAsync();
    }

    private void ShowAddForm()
    {
        editUser = new UserEditModel();
        showForm = true;
    }


    private async Task ShowEditForm(Guid userGuid)
    {        
        UserEditModel? userEditModel = await _userEditService.BuildModelAsync(userGuid);

        if (userEditModel is null)
        {
            return;
        }
        editUser = userEditModel;
        showForm = true;
    }

    private async Task DeleteUser(Guid userGuid)
    {
        await _userEditService.DeleteAsync(userGuid);
        userModel = await _userManageService.BuildModelAsync();
    }

    private void CancelForm()
    {
        showForm = false;
    }

    private async Task SaveUser()
    {
        await _userEditService.SaveAsync(editUser);
        userModel = await _userManageService.BuildModelAsync();
        showForm = false;
    }

    private void HandleInvalidUser()
    {
        Console.WriteLine("Validation failed. User not saved.");
    }

}
