@page "/admin/manage/stadiums"
@using FootballSimulator.Core.Interfaces
@using Microsoft.AspNetCore.Components.Forms
@rendermode InteractiveServer

<PageTitle>Manage Stadiums</PageTitle>

<h3>Manage stadiums</h3>
@if (manageModel is null)
{
    <p><em>Loading stadiums...</em></p>
}
else
{
    @if (!showForm)
    {
        <div class="d-flex justify-content-end p-3">
            <button class="btn btn-primary" @onclick="ShowAddForm">+ Add New</button>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover align-middle">
                <thead class="table d-md-table-header-group">
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Capacity</th>
                        <th>City</th>
                        <th class="text-end">Manage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in manageModel.Results)
                    {
                        <tr class="d-block d-md-table-row mb-3 mb-md-0">
                            <td data-label="Name"><strong>@item.Name</strong></td>
                            <td data-label="Type">@item.StadiumTypeName</td>
                            <td data-label="Capacity">@item.Capacity</td>
                            <td data-label="City">@item.CityName</td>
                            <td data-label="Manage" class="text-end">
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-secondary me-1" @onclick="() => ShowEditForm(item.Guid)">
                                        Edit
                                    </button>
                                    <button class="btn btn-sm btn-danger" @onclick="() => ShowConfirmModal(item.Guid)">
                                        Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <ConfirmActionModal @ref="deleteModal"
                            Title="Delete Stadium"
                            Message="Are you sure you want to delete this stadium?"
                            ActionName="Delete"
                            OnConfirm="DeleteStadium" />

    }
    else
    {
        <h4>@formModeLabel</h4>
        <EditForm Model="@editModel" OnValidSubmit="SaveStadium" OnInvalidSubmit="HandleInvalidEntity">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label>Stadium Name</label>
                <InputText @bind-Value="editModel.Name" class="form-control" />
                <ValidationMessage For="@(() => editModel.Name)" />
            </div>

            <div class="btn-group">
                <button type="submit" class="btn btn-success">@formModeLabel</button>
                <button class="btn btn-secondary" @onclick="CancelForm">Cancel</button>
            </div>
        </EditForm>
    }
}

@code {
    [Inject] private IStadiumManageModelService _stadiumManageService { get; set; } = default!;
    [Inject] private IStadiumEditService _stadiumEditService { get; set; } = default!;
    private bool showForm = false;
    private StadiumManageModel? manageModel;
    private StadiumEditModel editModel = new StadiumEditModel();
    private string formModeLabel => $"{editModel.CreateOrEdit} Stadium";
    private ConfirmActionModal? deleteModal;
    private Guid stadiumGuidToDelete;

    protected override async Task OnInitializedAsync()
    {
        manageModel = await _stadiumManageService.BuildModelAsync();
    }

    private async Task ShowConfirmModal(Guid stadiumGuid)
    {
        stadiumGuidToDelete = stadiumGuid;
        if (deleteModal is not null)
        {
            await deleteModal.ShowAsync(stadiumGuid);
        }
    }

    private void ShowAddForm()
    {
        editModel = new StadiumEditModel();
        showForm = true;
    }


    private async Task ShowEditForm(Guid stadiumGuid)
    {
        StadiumEditModel? stadiumEditModel = await _stadiumEditService.BuildModel(stadiumGuid);

        if (stadiumEditModel is null)
        {
            return;
        }
        editModel = stadiumEditModel;
        showForm = true;
    }

    private async Task DeleteStadium()
    {
        await _stadiumEditService.DeleteAsync(stadiumGuidToDelete);
        manageModel = await _stadiumManageService.BuildModelAsync();
    }

    private void CancelForm()
    {
        showForm = false;
    }

    private async Task SaveStadium()
    {
        await _stadiumEditService.SaveAsync(editModel);
        manageModel = await _stadiumManageService.BuildModelAsync();
        showForm = false;
    }

    private void HandleInvalidEntity()
    {
        Console.WriteLine("Validation failed. Stadium not saved.");
    }

}